.list-dot {
  list-style-type: disc;
}

.list-none {
  list-style-type: none;
}

.fa-ul {
  & > li {
    margin-bottom: 0.5em;
  }
}

/* hack for aligning fontawesome icons in li elements vertically */
.fa-li {
  top: 0.22em;
}
