---
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
export type Props = {
  fullName: string;
  title: string;
};

const { fullName, title } = Astro.props;
---

<head>
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <GoogleFontsOptimizer
    url={[
      "https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700&display=swap",
      "https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i&display=swap",
    ]}
  />

  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <meta name="description" content="Resume page using Astro" />
  <meta name="author" content={fullName} />
  <title>{title}</title>
</head>
