---
import App from "@components/App.astro";
import Head from "@components/head/Head.astro";
import { getData } from "@data/getData";

const { about } = getData();
const fullName = about.name + " " + about.surname;
---

<html lang="en">
	<Head title={fullName} fullName={fullName} />
	<!-- these 2 properties allow scroll spying: https://getbootstrap.com/docs/5.0/components/scrollspy/ -->
	<body data-bs-spy="scroll" data-bs-target="#sideNav" class="main-container">
		<App />
	</body>
</html>
