---
import type { SocialMedia } from "@data/types";
import { IconWithLink } from "../../icons/IconWithLink";

export type Props = {
  socialMedias: SocialMedia[];
};

const { socialMedias } = Astro.props;
---

<div>
  {
    socialMedias.map((social: SocialMedia) => (
      <IconWithLink
        iconName={social.iconName}
        link={social.link}
        title={social.title}
      />
    ))
  }
</div>
