---
import type { ResumeList } from "@data/types";
import ResumeListView from "@layouts/ResumeListView.astro";

export type Props = {
  skills: ResumeList;
};

const { skills } = Astro.props;
const { title, elements, numColumns } = skills;
---

<div class="subheading mb-3 mt-2">{title}</div>
<ResumeListView elements={elements} numColumns={numColumns ?? 1} />
