.marker {
  min-width: 1em;
  min-height: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.list-style-none {
  list-style-type: none;
  display: inline-flex;
  gap: 0.5em;
}

.custom-icon {
  flex-shrink: 0;
  width: 2em;
}

.item {
  margin-bottom: 0.5em;
}

.iol-icon {
  color: #c0c0c0;
}

.graduation-cap-icon {
  color: #000;
}

.award-icon {
  color: #dc3545;
}

.medal-icon {
  color: #ffc107;
}
