---
import type { ResumeList } from "@data/types";
import { Icon } from "astro-icon";
import "./resume-list.scss";
import { Description } from "@components/Description";

export type Props = ResumeList;

const { elements } = Astro.props;
---

<ul class={"mb-0 "}>
  {
    elements.map((element) => {
      const icon = element.iconName ? (
        <Icon name={element.iconName} className={element.iconClassName || ""} />
      ) : (
        ""
      );
      const liStyle = element.iconName ? "list-none" : "";
      return (
        <li class={liStyle}>
          {icon} <Description description={element.description} />
        </li>
      );
    })
  }
</ul>
