---
import type { ResumeList } from "@data/types";
import Icon from "@components/icons/Icon.astro";
import "./resume-list.scss";
import md from "markdown-it";

export type Props = ResumeList;

const { elements, numColumns } = Astro.props;

const columnCount = numColumns ?? 1;
---

<style define:vars={{ columnCount }}>
  .list-grid {
    display: grid;
    --adjustedColumnCount: var(--columnCount);

    @media (width <= 400px) {
      --adjustedColumnCount: min(var(--columnCount), 2);
    }

    @media (width <= 300px) {
      --adjustedColumnCount: 1;
    }

    grid-template-columns: repeat(var(--adjustedColumnCount), 1fr);
  }
</style>

<ul class="mb-0 list-grid">
  {
    elements.map(({ iconName, iconClassName, description }) => {
      const icon = iconName ? (
        <span class="icon-wrapper">
          <Icon
            name={iconName}
            class={(iconClassName ?? "") + " custom-icon"}
          />
        </span>
      ) : (
        <span class="icon-wrapper marker">•</span>
      );
      return (
        <li class={"item list-style-none"}>
          {icon}
          <span>
            <Fragment set:html={md().renderInline(description)} />
          </span>
        </li>
      );
    })
  }
</ul>
