---
import type { ResumeList } from "@data/types";
import Icon from "@components/icons/Icon.astro";
import "./resume-list.scss";
import md from "markdown-it";

export type Props = ResumeList;

const { elements } = Astro.props;
---

<ul class="mb-0">
  {
    elements.map(({ iconName, iconClassName, description }) => {
      const icon = iconName ? (
        <Icon name={iconName} class={(iconClassName ?? "") + " custom-icon"} />
      ) : <span class="marker">•</span>;
      return (
        <li class={"item list-style-none"}>
          {icon}<span><Fragment set:html={md().renderInline(description)} /></span>
        </li>
      );
    })
  }
</ul>
