---
export type Props = {
  id: string;
  title?: string | undefined;
};

const { id, title } = Astro.props;
---

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id={id}>
  <div class="my-auto">
    {title && <h2 class="mb-5">{title}</h2>}
    <!--  using ternary operator causes error described in https://github.com/withastro/language-tools/pull/335 -->
    <slot />
  </div>
</section>
<hr class="m-0" />
